@font-face {
    font-family: 'lato';
    src: url('lato-regular-webfont.woff2') format('woff2'),
    url('lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

body {
    line-height: 1.7;
    color: #777;
    font-family: 'lato';
    padding: 3rem;
    box-sizing: border-box;
}

/* header section css start----------------------------------------*/

.header {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../images/banner.jpg");
    height: 95vh;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
    position: relative;
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    font-weight: 400;
    backface-visibility: hidden;
    margin-bottom: 3rem;

}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1.5rem);
    }

    100% {
        transform: translate(0);
    }
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.74rem;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInRight {
    0% {
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1.5rem);
    }

    100% {
        transform: translate(0);
    }
}


.btn,
.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    transition: all 0.5s;
    font-size: 1.6rem;

    /*only for button elements */
    border: none;
    outline: 0;
    cursor: pointer;
}

.btn--white {
    color: #000;
    background: #fff;
}

.btn--green {
    color: #fff;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8))
}

.btn--green::after {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
}


.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0px 5px 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.4s all;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--white::after {
    background-color: #fff;
}

.btn--animated {
    animation: 1s moveInButton;
}

@keyframes moveInButton {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

/* header section css end ---------------------------------*/

/* Grid System start ------------------------------------------*/

.row {
    max-width: 114rem;
    margin: 0 auto;
}


.row::after {
    content: "";
    display: table;
    clear: both;
}

.custom-margin-bottom30 {
    margin-bottom: 30px;
}

.custpm-margin60 {
    margin-bottom: 60px;
}

.col-1-of-2 {
    width: 47.3%;
    font-size: 14px;
}

.col-1-of-3 {
    width: 30.7%;
    font-size: 14px;
}

.col-2-of-3 {
    width: 64%;
    font-size: 14px;
}

.col-1-of-4 {
    width: 22.36%;
    font-size: 14px;
}

.col-2-of-4 {
    width: 47.3%;
    font-size: 14px;
}

.col-3-of-4 {
    width: 72.3%;
    font-size: 14px;
}

[class^="col-"] {
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}

/* Grid System End ---------------------------------------*/

/*-------------------------section-about css start------------*/

.section-about {
    background-color: #f7f7f7;
    margin-top: -20vh;
    padding: 15rem 0;
}

.custom-text-center {
    text-align: center;
}

.custom-margin-bottom50 {
    margin-bottom: 5rem;
}

.custom-margin-top50 {
    margin-top: 5rem;
}

.custom-margin-top70 {
    margin-top: 7rem;
}

.heading-secondary {
    font-size: 2.8rem;
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.2s all;
}

.heading-secondary:hover {
    transform: scale(1.1) skewX(6deg) skewY(2deg);
}

/*-------------------------section-about end start------------*/

/*--------------------- .exiting-tour text css start----------------*/

.exiting-tour-heading--padding-bottom5 {
    padding-bottom: 5px;
}

.exiting-tour-heading--padding-bottom20 {
    padding-bottom: 20px;
}

.exiting-tour-heading--btn:link,
.exiting-tour-heading--btn:visited {
    text-decoration: none;
    color: rgba(40, 180, 133, 0.8);
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(40, 180, 133, 1);
    padding-bottom: 5px;
    transition: 0.5s all;
    display: inline-block;
}

.exiting-tour-heading--btn:hover {
    color: #fff;
    background: rgba(40, 180, 133, 1);
    padding: 8px;
    transform: translateY(-2px);
    box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.15);
}

.exiting-tour-heading--btn:active {
    transform: translateX(0px);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.15)
}

/*--------------------- .exiting-tour text css end----------------*/

/* ------------------- Image Composition css start---------------------- */

.composition {
    position: relative;
}

.composition__photo {
    width: 50%;
    box-shadow: 0px 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

.composition__photo.composition--p1,
.composition__photo.composition--p2,
.composition__photo.composition--p3 {
    position: absolute;
    transition: 0.2s all;
}

.composition__photo.composition--p1 {
    top: 0;
    left: 0;
}

.composition__photo.composition--p2 {
    top: 4rem;
    right: 4rem;
}

.composition__photo.composition--p3 {
    top: 10rem;
    left: 20%;
}

.composition__photo.composition--p1:hover {
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
    z-index: 20;
    outline: 0.7rem solid rgba(40, 180, 133, 1);
    outline-offset: 0.9rem;
}

.composition__photo.composition--p2:hover {
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
    z-index: 20;
    outline: 0.7rem solid rgba(40, 180, 133, 1);
    outline-offset: 0.9rem;
}

.composition__photo.composition--p3:hover {
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
    z-index: 20;
    outline: 0.7rem solid rgba(40, 180, 133, 1);
    outline-offset: 0.9rem;
}

.composition:hover .composition__photo.composition--p2:not(:hover) {
    transform: scale(0.9);
}

.composition:hover .composition__photo.composition--p1:not(:hover) {
    transform: scale(0.9);
}

.composition:hover .composition__photo.composition--p3:not(:hover) {
    transform: scale(0.9);
}

/* ------------------- Image Composition css End---------------------- */

/*---------------------- Feature section start--------------------------*/

.feature-section {
    background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../images/feature-section-background-image.jpg");
    padding: 16rem 0px;
    background-size: cover;
}

.feature-box {
    text-align: center;
    background: #ffffffb8;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    padding: 4rem 2.5rem;
    transition: 0.5s all;
}

.feature-box-icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
    -webkit-background-clip: text;
    color: transparent;
}

.custom-padding-bottom10 {
    padding-bottom: 10px;
}

.feature-box:hover {
    transform: translateY(-15px);
    cursor: pointer;
}


.feature-section > * {
    transform: skewY(5deg);
}

.feature-section {
    transform: skewY(-5deg);
    margin-top: -5rem;
}

/*---------------------- Feature section end--------------------------*/

/*---------------------- Tours section here--------------------------*/

.tours-section {
    background-color: #f7f7f7;
    margin-top: -15vh;
    padding: 17rem 0 2rem;
}

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 75vh;
}

.card__side {
    height: 75vh;
    transition: 0.8s all ease;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
}

.card__side-back {
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 1), rgba(255, 119, 48, 1));
    /*background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 1), rgba(40, 180, 133, 1)); */
    /*background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 1), rgba(86, 87, 250, 1));*/
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transform: rotateY(-180deg)
}

.card__side-back-2 {
    /*  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 1), rgba(255, 119, 48, 1)); */
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 1), rgba(40, 180, 133, 1));
    /*background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 1), rgba(86, 87, 250, 1));*/
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transform: rotateY(-180deg)
}

.card__side-back-3 {
    /*  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 1), rgba(255, 119, 48, 1)); */
    /* background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 1), rgba(40, 180, 133, 1)); */
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 1), rgba(86, 87, 250, 1));
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transform: rotateY(-180deg)
}



.card:hover .card__side-back {
    transform: rotateY(0deg);
}

.card:hover .card__side-back-2 {
    transform: rotateY(0deg);
}

.card:hover .card__side-back-3 {
    transform: rotateY(0deg);
}

.card:hover .card__side-front {
    transform: rotateY(180deg);
}

.card__side-front {
    background-color: #fff;
}


.card__picture-1 {
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 1), rgba(255, 119, 48, 1)), url("../images/the-sea-explorer.jpg");
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen;
    -webkit-background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.card__picture-2 {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 1), rgba(40, 180, 133, 1)), url("../images/the-forest-hiker.jpg");
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen;
    -webkit-background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.card__picture-3 {
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 1), rgba(86, 87, 250, 1)), url("../images/the-snow-adventure.jpg");
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen;
    -webkit-background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.card__heading-sapn-1 {
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, .75), rgba(255, 119, 48, .75));
    -webkit-box-decoration-break: clone;
    padding: 1rem 1.5rem;
}

.card__heading-sapn-2 {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, .75), rgba(40, 180, 133, .75));
    -webkit-box-decoration-break: clone;
    padding: 1rem 1.7rem;
}

.card__heading-sapn-3 {
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, .75), rgba(86, 87, 250, .75));
    -webkit-box-decoration-break: clone;
    padding: 1rem 1.7rem;
}

.card__heading {
    color: #fff;
    position: absolute;
    top: 10rem;
    right: 2rem;
    text-align: right;
    font-size: 2.8rem;
    width: 63%;
    font-weight: 100;
}

.card__details ul {
    padding: 3rem;
    width: 80%;
    margin: 0 auto;
}

.card__details ul li {
    list-style: none;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.card__btn {
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    color: #fff;
}

.card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.card__price-value {
    font-size: 6rem;
    font-weight: 100;
}

.card__price-box {
    margin-bottom: 8rem;
}

/*---------------------- Tours section end--------------------------*/

/*---------------------- Stories section Start--------------------------*/

.section-stories {
    width: 100%;
    padding: 0rem 0 2rem;
    position: relative;
    overflow: hidden;
}


.bg-video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: .15;
}

.bg-video--content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story {
    width: 60%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .60);
    padding: 4rem 3rem;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
    border-radius: 3px;
    font-size: 1.4rem;
    display: flow-root;
    transform: skewX(-12deg);
    transition: 0.5s all;

}

.story__shape {
    width: 13rem;
    height: 13rem;
    background: red;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    overflow: hidden;
    transform: skewX(12deg);
    position: relative;
}

.story__img {
    transition: 0.5s all;
    transform: scale(1.3);
}

.story__text {
    transform: skewX(12deg) translateX(1rem);
    transition: 0.5s all;
}

.story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    font-size: 1.8rem;
    display: inline-table;
    opacity: 0;
}

.story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.5s all;

}

.story:hover .story__img {
    filter: blur(2px) brightness(80%);
    transform: scale(1.1);

}

/*---------------------- Stories section end--------------------------*/

/*---------------------- Booking section Start--------------------------*/

.section-book {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 1), rgba(40, 180, 133, 1));
    padding: 15rem;
}

.book {
    background-image: linear-gradient(100deg, rgba(255, 255, 255, .92) 50%, rgba(255, 255, 255, .0) 50%), url(../images/booking-background.jpg);
    background-size: 100%;
    box-shadow: 0px 1.5rem 2.5rem #00000024;
    height: 50rem;
}

.book_form {
    width: 50%;
    padding: 6rem;
}

.form__input {
    padding: 1.5rem 2rem;
    width: 90%;
    display: block;
    outline: 0;
    background: #ffffff9e;
    border: none;
    box-shadow: 0px 1rem 2rem #0000000d;
    border-bottom: 3px solid transparent;
    font-family: inherit;
    margin-bottom: 1rem;
    transition: 0.3s;
}

.form__input::-webkit-input-placeholder {
    color: #777;
}

.form__input:focus {
    color: #000;
}

.form__input:focus:invalid {
    border-bottom: 3px solid #FF6347;
}

.form__input:focus:valid {
    border-bottom: 3px solid rgba(40, 180, 133, 1);
}

.form_label {
    margin-left: 2rem;
    margin-bottom: 1rem;
    display: block;
    font-size: 1.2rem;
    opacity: 0;
    transform: translateY(-3.5rem);
    transition: 0.5s all;
}

.form__input:focus + .form_label {
    opacity: 1;
    transform: translateY(-0rem);
}

.form__radio-group {
    width: 49%;
    display: inline-block;
}

.form-radio-label {
    font-size: 1.6rem;
}

.form_radio-button {
    width: 2.6rem;
    height: 2.6rem;
    border: 2px solid rgba(40, 180, 133, 1);
    display: inline-block;
    border-radius: 50%;
    position: relative;
}

.form_radio-button::after {
    content: "";
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    background-color: rgba(40, 180, 133, 1);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.form-radio-label {
    position: absolute;
    padding-left: 1rem;
}

.form-radio-input {
    display: none;
}

.form-radio-input:checked + .form_radio-button::after {
    opacity: 1;
}

/*---------------------- Booking section end--------------------------*/

/*---------------------- footer section start--------------------------*/

.footer-section {
    background: #313131;
    padding: 3rem;
}

.footer-navigate li {
    list-style: none;
}

/*---------------------- footer section end--------------------------*/

.navigation-checkbox {
    display: none;
}

.navigation-button {
    width: 50px;
    height: 50px;
    background: #fff;
    position: fixed;
    right: 6rem;
    top: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0px 1rem 2rem #00000030;
    
}

.navigation-background {
    position: fixed;
    width: 5rem;
    height: 5rem;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    background-image: radial-gradient(rgba(126, 213, 111, 1), rgba(40, 180, 133, 1));
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1000;

}

.navigation-nav {
    width: 0;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 100%;
    z-index: 1500;
    transition: all 0.5s;
    opacity: 0;

}

.navigation-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;

}

.navigation-link:link,
.navigation-link:visited {
    color: #fff;
    font-size: 2.8rem;
    text-transform: uppercase;
    text-decoration: none;
    background-image: linear-gradient(110deg, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: 0.5s all;
    padding: 1rem 2rem;
    display: inline-block;
}

.navigation-link:hover {
    background-position: 100%;
    color: rgba(126, 213, 111, 0.8);
    transform: translateX(5px);

}



.navigation-item {
    margin-bottom: 1rem;
}


.navigation-checkbox:checked ~ .navigation-background {
    transform: scale(80);
}

.navigation-checkbox:checked ~ .navigation-nav {
    width: 100%;
    opacity: 1;
    right: 0;

}

.navigation-icon,
.navigation-icon::after,
.navigation-icon::before {
    position: relative;
    width: 20px;
    height: 2px;
    background: #333;
    display: inline-block;
     
}

.navigation-icon::after,
.navigation-icon::before {
    content: "";
    position: absolute;
}

.navigation-icon{margin-top: 2.5rem; margin-left: 1.3rem}

.navigation-icon::after {
    top: 0.8rem;
}

.navigation-icon::before {
    top: -0.8rem;
}


